.producto-card {
  width: 160px;
  height: 160px;
}

.producto-card h6 {
  font-size: 14px;
  margin-bottom: 4px;
}

.producto-card p {
  font-size: 13px;
  margin-bottom: 6px;
}

.producto-card button {
  font-size: 13px;
  padding: 4px;
}
